
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: $body-bg !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.border-top-design {
  border-top: 4px solid #3490dc;
}

.icons-margin-right {
  margin-right: 5px;
}

.page-title {
  margin: 0px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
}